:root {
    --main-color-theme: #17806d;
    --font-weight: 500;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-display: fallback !important;
}

.ia-splitter a {
    color:#1a927c !important;
}

.tablesorter-headerRow {
    background-color: var(--main-color-theme) !important;
}

#header .aui-header {
    background-color: var(--main-color-theme) !important;
    color: antiquewhite;
}

#create-page-button {
    background-color: var(--main-color-theme) !important;
    color: #DEEBFF !important;
}
#create-page-button:hover {
    background-color: #1a082c7a !important;
}

#logo > a:hover,
#space-menu-link:hover, 
#people-directory-link:hover, 
#yasoon-calendar-personal-link:hover {
    border-radius: 3px;
}

#title-text > a {
    color: #1c7061 !important;
}

.acs-side-bar-content,
.sectionMacroRow,
.page-metadata a,
.page-metadata span,
.page-metadata li,
#navigation span,
#breadcrumbs span,
.space-information-container a { 
    font-weight: var(--font-weight) !important;
}
