                    /* Темная тема */
/* ------------------ Сообщения ------------------ */

.dark .messages-group__messages,
.dark .chat-message__name-of-responder {
    color: #f0f0f0 !important;
}
    /* -- Комментари и Сервисные -- */

.dark .message-group-item__private {
    background-color: #3d2746 !important; 
}

    /* -- Операторские -- */    

.dark .message_group__operator .messages-group__message:not(.message-group-item__private) {
    background-color: #3e6284 !important;
}


    /* -- Клиентские -- */

.dark .messages-group__message:not(.message-group-item__private) {
    background-color: #222e3a !important;
}

    /* -- Ссылки -- */

.dark .messages-group__messages a {
    color: #ffffff !important;
}

.dark .messages-group__messages a:hover {
    text-decoration: underline;
    color: #ffffffd0 !important;
}

    /* -- Правый сайдбар -- */

.dark #right_resize_container > div.panel.panel-primary.chat__client > div.panel-body.form-horizontal.browser-panel {
    background-color: #3e6284;
    color: #f0f0f0;
}

        /* Кнопки чата */

.dark .chat-custom-button {
    background-color: #2297ba !important;
}

                  /* Светлая тема */
/* ------------------ Сообщения ------------------ */


.messages-group__messages,
.chat-message__name-of-responder {
    color: #000 !important;
}

    /* -- Комментари и Сервисные -- */

.message-group-item__private {
    /* background-color: #68cd95 !important; */
    background-color: #3fb7ab !important;
}

    /* -- Операторские -- */

.message_group__operator .messages-group__message:not(.message-group-item__private) {
    /* background-color: #ebe9d9 !important; */
    background-color: #92ceb2 !important;
}

    /* -- Клиентские -- */

.messages-group__message:not(.message-group-item__private) {
    /* background-color: #d3d0d0 !important; */
    background-color: #dcead9 !important;
}

    /* -- Ссылки -- */

.messages-group__messages a {
    color: #000 !important;
}

.messages-group__messages a:hover {
    color: #000 !important;
    text-decoration: underline;
}

    /* -- Правый сайдбар -- */

#right_resize_container > div.panel.panel-primary.chat__client > div.panel-body.form-horizontal.browser-panel {
    /* background-color: #68cd95; */
    background-color: #3fb7ab;
    color: #000;
}

.chat-custom-button {
    background-color: #3fb7ab !important;
}

/*  =============================================  */

.messages-group__messages {
    margin: 0px 15px !important;
}

.chat-custom-buttons-block a {
    color: #ffffff !important;
}
.chat-custom-buttons-block a:hover {
    color: #ffffffd0 !important;
}

    /* -- Правый сайдбар -- */

.chat-message__date,
.chat-message__name-of-responder,
.message-group-item__private {
    font-style: italic;
}

#id__chat__actions-wrapper > div:nth-child(2) {
    display: flex;
    justify-content: center;
}

.avatar-rounded,
.message-group__avatar,
#uw-main-button,
.chat-messages__date-wrapper,
.mail-sidebar-row .hidden-xs .chat__checkbox-wrapper .ta-c {
    display: none !important;
}

body > div.page-container.sidebar-collapsed > div.main-content.main-content_chat,
body > div.page-container.sidebar-collapsed > div.main-content.main-content_chat > div.chat_layout > div.chat-visible.chat_page_container > div > div.right_column > div.chat-panel.pd-0 > div.main_section > div > section > div.row.chat_container-row > div.new_message_head {
    padding: 10px;
}

.profile-env section.profile-feed .profile-post-form .form-options .post-type
{
    margin-left: 7px !important;
}

.profile-env section.profile-feed .profile-post-form .form-options {
    padding: 3px !important;
}

#m-tickets,
#m-chat {
    margin: 0 20px;
}
#m-chat > a > i {
    margin-top: 4px;
    font-size: 16px;
}
#m-tickets > a > i {
    font-size: 18px;
}
#m-chat > a > i,
#m-tickets > a > i {
    align-items: center;
}
.red-icon {
    color: #999 !important;
}
.green-icon {
    color: #4ace1e !important;
}

#right_resize_container > div.panel.panel-primary.chat__client > div:nth-child(1) > div.text-center {
    text-align: left;
}
h3.client-h3 {
    white-space: normal;
}

.form-horizontal {
    margin-top: 20px;
}



/* --------------Кнопка "В ожидании"-------------- */

.btn.btn-green--await {
    background-color: #3e6284;
    color: #e8e6e3;
    margin: 5px 6px;
    padding: 7px 12px;
}
.btn.btn-green--await:hover {
    background-color: #324f69;
    color: #e8e6e3 !important;
}

/*  =============================================  */

.timerButton {
    -webkit-appearance: none !important;

    text-align: center;
    line-height: 4px;

    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    background-color: transparent;

    border: 1px solid #737881;
    border-radius: 3px;

    color: #737881;
    font-size: 12px;
    font-weight: 400;
    min-height: 20px;
    min-width: 20px;

    padding: 0 .4rem;
    margin: 3px 3px;

    transition: all 0.3s ease;
}

.timerButton_active {
    color: #e8e6e3;
    border-color: #1885b2;
    background-color: #1885b2;
}

.timerPanel {
    margin-top: 10px;
}

.blur {
    filter: blur(3px);
}

.toggleButton {
    width: 10px;
    height: 40px;
    background-color: #262b34;
    position: absolute;
    
    right: -10px;
    top: 0;

    margin-top: 50vh;
    padding: 0;

    border: 1px solid;
    /* border-left: none; */
    border-color: #a49d914b;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-left: none;
}



.sidebar-menu {
    position: absolute !important;
    left: -65px;

    /* transition: all 0.2s ease-in; */
}

.toggle-menu {
    left: 0;
    position: relative !important;
}

.checkChatsButton {
    -webkit-appearance: none !important;

    height: 32px;
    width: 159px;

    text-align: center;
    line-height: 4px;

    cursor: pointer;
    display: block;
    white-space: nowrap;

    border: 1px solid #1885b2;
    border-radius: 3px;

    color: #e8e6e3;
    background-color: #1885b2;

    font-size: 12px;
    font-weight: 400;
    min-height: 20px;
    min-width: 20px;

    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 10px;

    transition: all 0.3s ease;
}

.chats_modal {
    display: flex;
    flex-wrap: wrap;
    position: absolute;

    top: 25px;
    left: 12.5%;

    padding: 5px;

    width: 1064px;
    min-height: fit-content;

    z-index: 10001;

    background-color: rgb(225, 225, 225);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
}

.operator_card {
    display: flex;
    width: 200px;
    height: fit-content;
    
    padding: 10px;
    margin: 5px;

    border-radius: 4px;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.41);

    background-color: #fff;
}

.card_container {
    margin: 0 auto;
}

.operator_name {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px 10px;

    border-radius: 4px;
    border: 1px solid #1885b2;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.41);

    height: 30px;
    width: fit-content;
    
}

.operator_chats {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    
    max-height: 130px;
}

#chat_id {
    display: flex;
    flex-wrap: wrap;

    border: 1px solid #1885b2;
    border-radius: 4px;

    padding: 5px 10px;
    margin: 2px 3px;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.41);

    background-color: #1885b2;
    color: #e8e6e3;

}

.fancybox-content .fancybox-iframe {
    border: 2px solid #fff;
    border-radius: 10px;
}