
:root {
    --light-blue: #4bc1ff;
    --dark-blue: #5171f1;
    --light-violet: #bf3ee0;
    --ss_notice-primary: #5aa220;
    --ss_notice-secondary: #fff;
    --shake-deg: 1deg;
}

.delete-button {
    display: flex;
    padding: 6px 8px 3px 9px;
    margin-right: 43%;

    border: 1px solid #f90000;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    

    text-transform: uppercase;
    color: #f90000;
    letter-spacing: 1.44px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Metropolis","Avenir Next","Helvetica Neue",Arial,sans-serif;

    /* transition: background-color .2s linear; */
}

.delete-button:hover {
    background-color: #630000;
}

.delete-button:disabled {
    border-color: #ccc;
    color: #ccc;
    background-color: unset;
}

.delete-button:disabled:hover {
    background-color: unset;
}

html[data-darkreader-scheme="dark"] .select select:active, 
html[data-darkreader-scheme="dark"] .select select:hover {
    border-color: rgba(58, 62, 65, 0.5);
    background-image: initial;
    background-color: rgb(43 47 49);
}

.my-btn {
    -webkit-appearance: none!important;

    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    background-color: transparent;

    border: 1px solid var(--light-blue);
    border-radius: 3px;
    
    color: var(--light-blue);
    font-size: 12px;
    font-weight: 700;
    
    height: 25px;
    padding: 0 .4rem;
    margin: 3px 3px;
    box-shadow: 0 0 2px 0 var(--light-blue), 0 0 2px 0 var(--light-blue) inset;
}

.my-btn--big {
    line-height: 0;
    font-weight: 500;
    font-size: 12px;
    padding: 17px 12px;
    letter-spacing: 1.44px;
    margin: 6px 0;
    border-color: var(--clr-btn-default-border-color, #0072a3);
    color: var(--clr-btn-default-color, #0072a3);
    box-shadow: none;
}
.my-btn--payment {
    border: 1px solid var(--light-violet);
    color: var(--light-violet);
    box-shadow: 0 0 2px 0 var(--light-violet), 0 0 2px 0 var(--light-violet) inset;
}
.my-btn--data {
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    box-shadow: 0 0 2px 0 var(--dark-blue), 0 0 2px 0 var(--dark-blue) inset;
}

.my-btn--accident {
    border: 1px solid #f15151;
    color: #f15151;
    margin-right: 22px;
}

.my-btn:hover {
    background-color: #113039;
    color: #7ed3ff;
}

.modal-body {
    max-height: 80vh !important;
}

.channel-save {
    font-style: italic;
    margin-left: 15px !important;
    font-size: 15px;
}

#jira_task,
#use_desk_task {
    width: 60%;
    margin-right: 10px;
}

.clr-form-control.clr-row {
    margin-top: 15px;
}

#fastSearch {
    padding-left: 7px;
    margin-left: 5px;
}

.modal-body-wrapper {
    min-height: fit-content;
}

#prepayment-cancel__extPaymentId {
    min-width: 30% !important; 
}

.header-actions {
    margin-right: 24px;
}

html[data-darkreader-scheme="dark"] select {
    background-color: #181a1b !important;
}
html[data-darkreader-scheme="dark"] option {
    background-color: #2d444f !important;
}
.phone--masked,
.email--masked {
    margin: 0 30px 0 0 !important;
    padding: 0 !important;
    display: inline !important;
}

table.table.table-vertical.user-table > tbody > tr:nth-child(5) > td:nth-child(2),
table.table.table-vertical.user-table > tbody > tr:nth-child(7) > td:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SS_notice {
    position: absolute;
    display: block;
    z-index: 100500;
    top: 20px;
    right: 2vw;
    padding: 10px 20px;

    background-color: var(--ss_notice-primary);
    box-shadow: 0 0 8px 2px #cccccc44;
    border-radius: 3px;

    color: var(--ss_notice-secondary);
    font-size: 0.8rem;

    animation: opacity_0 3.1s;
}

.cancelPayment_block {
    display: flex !important;
    gap: 1vw;
}

@keyframes opacity_0 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    
}

.shake {
    animation: shake infinite 3s;
}

@keyframes shake {
    65% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(var(--shake-deg));
    }
    75% {
        transform: rotate(calc(var(--shake-deg) * -1));
    }
    80% {
        transform: rotate(var(--shake-deg));
    }
    85% {
        transform: rotate(calc(var(--shake-deg) * -1));
    }
    90% {
        transform: rotate(var(--shake-deg));
    }
    95% {
        transform: rotate(0deg);
    }
}