:root {
    --main-font-size: 14px;
    --signs: 13px;
}

* {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

body {
    font-size: var(--main-font-size) !important;
}

.timerPanel {
    margin-top: 10px;
}

.timerButton {
    -webkit-appearance: none !important;

    text-align: center;
    line-height: 4px;

    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    background-color: transparent;

    border: 1px solid #737881;
    border-radius: 3px;

    color: #737881;
    font-size: var(--signs);
    font-weight: 400;
    min-height: 20px;
    min-width: 20px;

    padding: 0 .4rem;
    margin: 3px 3px;

    transition: all 0.3s ease;
}

.timerButton_active {
    color: #e8e6e3;
    border-color: #1885b2;
    background-color: #1885b2;
}

.toggleButton {
    width: 10px;
    height: 40px;
    background-color: #262b34;
    position: absolute;

    right: -10px;
    top: 0;

    margin-top: 50vh;
    padding: 0;

    border: 1px solid;
    /* border-left: none; */
    border-color: #a49d914b;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-left: none;
}



.sidebar-menu {
    position: absolute !important;
    left: -65px;

    /* transition: all 0.2s ease-in; */
}

.toggle-menu {
    left: 0;
    position: relative !important;
}

.tickets-filters>.mail-sidebar {
    min-height: 0px !important;
    border-bottom: none !important;
}

.cl-black {
    display: none;
}

body>div.page-container.sidebar-collapsed>div.main-content>div:nth-child(2)>div.mail-env.tickets-filters>div.mail-sidebar.tickets-sidebar>div:nth-child(6) {
    padding: 0 !important;
    padding-bottom: 10px !important;
    margin: 0 auto !important;
}

body > div.page-container.sidebar-collapsed > div.main-content > div:nth-child(2) > div.mail-env.tickets-filters > div.mail-sidebar.tickets-sidebar > div:nth-child(5) {
    padding-bottom: 0 !important;
}

.autoUpdateButton {
    -webkit-appearance: none !important;

    height: 32px;
    width: 159px;

    text-align: center;
    line-height: 4px;

    cursor: pointer;
    display: block;
    white-space: nowrap;
    background-color: transparent;

    border: 1px solid #737881;
    border-radius: 3px;

    color: #737881;
    font-size: var(--signs);
    font-weight: 400;
    min-height: 20px;
    min-width: 20px;

    padding: 10px 20px;
    margin: 0 auto;
    /* margin-left: 35px; */

    transition: all 0.3s ease;
}

.autoUpdateButton_active {
    color: #e8e6e3;
    border-color: #1885b2;
    background-color: #1885b2;
}

.showListsButton {
    box-sizing: border-box;
    padding: 16px;
    line-height: 17px;
    font-size: var(--main-font-size);
    border: none;
    background-color: #0d3749;
    color: #e8e6e3;
}
.showSidebarListsButton {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #0d3749;
    color: #e8e6e3;
}